.tableRow{
  background-color: #1f2937;
  color: #fff;
  &:nth-child(even){
    background-color: #111827;
  }
  &.unpaid{
    background-color: rgb(65, 30, 30);
  }
  
  
  &:hover{
    background-color: #111827;
  }
}